* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Burger */
.menuBurger {
    text-align: center;
    height: 100vh;
    line-height: 50px;
    position: fixed;
    background-color: #451CC0;
    width: 100%;
    top: 0;
    z-index: 10;
}

.menuBurger li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

.closeIcon img {
    position: absolute;
    top: 20px;
    right: 20px;
}
/* End Burger */

/* Header */

header {
    background-color: #451CC0;
    padding: 20px 0;
}

header h1 {
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

.price {
    color: white;
    background-color: #FF7D3B;
}

/* End Header */

/* Section Presentation */

.SectionPresentation {
    text-align: center;
    height: 90vh;
    display: grid;
    align-content: center;
}

.SectionPresentation h2 {
    font-size: 25px;
    padding-top: 50px;
    font-weight: bold;
}

.SectionPresentation p {
    width: 90%;
    margin: 38px auto;
}

.SectionPresentation img {
    margin-top: 40px;
    width: 100%;
}

.Discover {
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #FF7D3B;
    padding: 12px 48px;
    border-radius: 10px;
}

/* End Section Presentation */

/* Section Articles */
.Article {
    background-color: #FAF8FB;
    padding-bottom: 10px;
}

.Article h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.containerArticle {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 15px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 35px;
}

.containerArticle img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.containerArticle h3 {
    font-size: 20px;
    width: 95%;
    margin: 0 auto;
    padding-top: 15px;
}

.containerArticle p {
    width: 95%;
    margin: 0 auto;
    padding-top: 15px;
}

/* End Section Articles */

/* Section Price */

.priceSection {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
}

.priceSection h2 {
    font-size: 25px;
    text-align: center;
}

.priceContainer {
    background-color: #FAF8FB;
    width: 80%;
    margin: 100px auto 0 auto;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
    padding-bottom: 30px;
}

.priceName {
    background-color: #451CC0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.priceName h3 {
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 35px;
}

.priceContainer ul {
    padding-top: 25px;
    padding-bottom: 25px;
}

.priceContainer li {
    text-align: center;
    list-style: none;
    padding-top: 10px;
}

.priceAmount {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 25px;
    color: black;
    text-align: center;
    background-color: #FAF8FB;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 0;
    left: 50%;
}

.priceContainer a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: #FF7D3B;
    padding: 12px 24px;
    border-radius: 10px;
    text-align: center;
}

.buttonDiscover {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

/* End Section Price */

/* Section Testimonial */

.testimonialSection {
    background-color: #FAF8FB;
    padding-bottom: 30px;
}
.testimonialSection h2 {
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}

.testimonialContainer {
    width: 90%;
    margin: 30px auto 0 auto;
}

.testimonial {
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
}
.testimonial p {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

.bottomTestimonial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.imgName {
    display: flex;
    align-items: center;
}
.imgName h3 {
    font-size: 16px;
    padding-left: 5px;
}

.imgName img {
    border-radius: 50%;
    width: 40px;
}
/* End Section Testimonial */

/* Section Partners */
.partners {
    padding: 30px 0;
}

.partners h2 {
    font-size: 25px;
    text-align: center;
}

.containerPartners {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 15px auto 0 auto;
    justify-content: space-between;
}

.partners img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.partners h3 {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: normal;
}

/* End Section Partners */

/* Section Team */

.ourTeam {
    background-color: #FAF8FB;
    padding-bottom: 30px;
    
}
.ourTeam h2 {
    font-size: 25px;
    text-align: center;
    padding: 30px 0;
}
.teamContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}
.teamContainer img {
    border-radius: 50%;
    width: 88px;
    height: 88px;
}

.showPeople {
    width: 90%;
    margin: 30px auto 0 auto;
}
.message p {
    font-size: 20px;
    font-weight: 600;
    width: 80%;
    margin: auto;
}
.imgPeople {
    text-align: center;
}

.teamName_LastName {
    padding: 28px 80px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
}

.teamName_LastName h3{
    font-size: 20px;
}
.teamName_LastName h4{
    padding-top: 15px;
    font-size: 16px;
}

/* End Section Team */

/* Section Contact */
.contact {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
}

.contact h2 {
    font-size: 25px;
    text-align: center;
    padding-bottom: 35px;
}

.Name_LastName {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.Name_LastName input {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px;
}

.Email_Phone {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.Email_Phone input {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px;
}

.contact textarea {
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4);
    border: none;
    padding: 10px;
    margin-bottom: 25px;
}

.button {
    display: flex;
    margin: 0 auto;
}

.contact a {
    background-color: #FF7D3B;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 9px 35px;
}

/* End Section Contact */

/* Footer */

footer {
    background: linear-gradient(#451CC0, #451CC080);
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

footer h2 {
    font-size: 25px;
    font-weight: bold;
}

.AboutFollow p {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
    width: 90%;
    margin: 0 auto;
}

.SocialNetworks {
    display: flex;
    width: 50%;
    margin: 21px auto;
    justify-content: space-around;
}

.Links {
    display: grid;
}

.Links h2 {
    padding-bottom: 5px;
}

.Links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
}

.Newsletter h2 {
    padding: 15px 0;
}

.Newsletter input {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 25px;
}

.Newsletter a {
    color: white;
    background-color: #FF7D3B;
    padding: 9px 35px;
    border-radius: 10px;
    text-decoration: none;
}

/* End Footer */