* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Header */

header {
    background-color: #451CC0;
    padding: 20px 0;
}

header h1 {
    color: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

.price {
    color: white;
    background-color: #FF7D3B;
}

/* Section Presentation */

.SectionPresentation {
    text-align: center;
    height: 90vh;
}

.SectionPresentation h2 {
    font-size: 25px;
    padding-top: 50px;
    font-weight: bold;
}

.SectionPresentation p {
    width: 90%;
    margin: 38px auto;
}

.SectionPresentation img {
    margin-top: 40px;
    width: 90%;
}

.Discover {
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: #FF7D3B;
    padding: 12px 48px;
    border-radius: 10px;
}

/* Section Articles */
.Article {
    background-color: #FAF8FB;
}

.Article h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.containerArticle {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin-bottom: 35px;
}

.containerArticle img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.containerArticle h3 {
    font-size: 20px;
    width: 95%;
    margin: 0 auto;
    padding-top: 15px;
}

.containerArticle p {
    width: 95%;
    margin: 0 auto;
    padding-top: 15px;
}



/* Footer */

footer {
    background: linear-gradient(#451CC0, #451CC080);
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

footer h2 {
    font-size: 25px;
    font-weight: bold;
}

.AboutFollow p {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
    width: 90%;
    margin: 0 auto;
}

.SocialNetworks {
    display: flex;
    width: 50%;
    margin: 21px auto;
    justify-content: space-around;
}

.Links {
    display: grid;
}

.Links h2 {
    padding-bottom: 15px;
}

.Links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.Newsletter h2 {
    padding: 15px 0;
}

.Newsletter input {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 25px;
}

.Newsletter a {
    color: white;
    background-color: #FF7D3B;
    padding: 9px 35px;
    border-radius: 10px;
    text-decoration: none;
}