*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #451CC0;
}
header h1 {
    color: white;
    text-align: center;
    padding: 30px 0;
}
.elementContainer {
    width: 75%;
    float: right;
    justify-content: center;
}
.elementContainer h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-weight: 600;
}
.Pthank {
    padding-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.Pthank span {
    padding-top: 20px;
    font-size: 22px;
    font-weight: 600;
}
.elementContainer h3 {
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: 600;
}
.SummaryDescription {
    padding-left: 40px;
    padding-bottom: 10px;
}
.nav {
    width: 25%;
    background-color: #451CC0;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100px;
}
img {
    width: 60%;
    display: flex;
    margin: 20px auto;
}
.nav ul{
    text-align: center;
    width: 100%;
}
.nav ul li {
    list-style: none;
    width: 100%;
    transition: 0.5s;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: 0.5s;
}
.description {
    width: 80%;
    padding-left: 10px;
    padding-top: 10px;
}
.nav ul li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

